<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>abv</key>
		<string>4.2</string>
		<key>location</key>
		<string>germany</string>
		<key>price of 4oz</key>
		<string>9</string>
		<key>price of glass</key>
		<string>1</string>
		<key>name</key>
		<string>Farhan&apos;s Drink</string>
	</dict>
	<dict>
		<key>abv</key>
		<string>4.2</string>
		<key>location</key>
		<string>germany</string>
		<key>price of 4oz</key>
		<string>9</string>
		<key>price of glass</key>
		<string>1</string>
		<key>name</key>
		<string>Farhan&apos;s Drink</string>
	</dict>
	<dict>
		<key>abv</key>
		<string>4.2</string>
		<key>location</key>
		<string>germany</string>
		<key>price of 4oz</key>
		<string>9</string>
		<key>price of glass</key>
		<string>1</string>
		<key>name</key>
		<string>Farhan&apos;s Drink</string>
	</dict>
	<dict>
		<key>abv</key>
		<string>4.2</string>
		<key>location</key>
		<string>germany</string>
		<key>price of 4oz</key>
		<string>9</string>
		<key>price of glass</key>
		<string>1</string>
		<key>name</key>
		<string>Farhan&apos;s Drink</string>
	</dict>
	<dict>
		<key>abv</key>
		<string>4.2</string>
		<key>location</key>
		<string>germany</string>
		<key>price of 4oz</key>
		<string>9</string>
		<key>price of glass</key>
		<string>1</string>
		<key>name</key>
		<string>Farhan&apos;s Drink</string>
	</dict>
	<dict>
		<key>abv</key>
		<string>4.2</string>
		<key>location</key>
		<string>germany</string>
		<key>price of 4oz</key>
		<string>9</string>
		<key>price of glass</key>
		<string>1</string>
		<key>name</key>
		<string>Farhan&apos;s Drink</string>
	</dict>
	<dict>
		<key>abv</key>
		<string>4.2</string>
		<key>location</key>
		<string>germany</string>
		<key>price of 4oz</key>
		<string>9</string>
		<key>price of glass</key>
		<string>1</string>
		<key>name</key>
		<string>Farhan&apos;s Drink</string>
	</dict>
	<dict>
		<key>abv</key>
		<string>4.2</string>
		<key>location</key>
		<string>germany</string>
		<key>price of 4oz</key>
		<string>9</string>
		<key>price of glass</key>
		<string>1</string>
		<key>name</key>
		<string>Farhan&apos;s Drink</string>
	</dict>
	<dict>
		<key>abv</key>
		<string>4.2</string>
		<key>location</key>
		<string>germany</string>
		<key>price of 4oz</key>
		<string>9</string>
		<key>price of glass</key>
		<string>1</string>
		<key>name</key>
		<string>Farhan&apos;s Drink</string>
	</dict>
	<dict>
		<key>abv</key>
		<string>4.2</string>
		<key>location</key>
		<string>germany</string>
		<key>price of 4oz</key>
		<string>9</string>
		<key>price of glass</key>
		<string>1</string>
		<key>name</key>
		<string>Farhan&apos;s Drink</string>
	</dict>
	<dict>
		<key>abv</key>
		<string>4.2</string>
		<key>location</key>
		<string>germany</string>
		<key>price of 4oz</key>
		<string>9</string>
		<key>price of glass</key>
		<string>1</string>
		<key>name</key>
		<string>Farhan&apos;s Drink</string>
	</dict>
	<dict>
		<key>abv</key>
		<string>4.2</string>
		<key>location</key>
		<string>germany</string>
		<key>price of 4oz</key>
		<string>9</string>
		<key>price of glass</key>
		<string>1</string>
		<key>name</key>
		<string>Farhan&apos;s Drink</string>
	</dict>
	<dict>
		<key>abv</key>
		<string>4.2</string>
		<key>location</key>
		<string>germany</string>
		<key>price of 4oz</key>
		<string>9</string>
		<key>price of glass</key>
		<string>1</string>
		<key>name</key>
		<string>Farhan&apos;s Drink</string>
	</dict>
	<dict>
		<key>abv</key>
		<string>4.2</string>
		<key>location</key>
		<string>germany</string>
		<key>price of 4oz</key>
		<string>9</string>
		<key>price of glass</key>
		<string>1</string>
		<key>name</key>
		<string>Farhan&apos;s Drink</string>
	</dict>
	<dict>
		<key>abv</key>
		<string>4.2</string>
		<key>location</key>
		<string>germany</string>
		<key>price of 4oz</key>
		<string>9</string>
		<key>price of glass</key>
		<string>1</string>
		<key>name</key>
		<string>Farhan&apos;s Drink</string>
	</dict>
	<dict>
		<key>abv</key>
		<string>4.2</string>
		<key>location</key>
		<string>germany</string>
		<key>price of 4oz</key>
		<string>9</string>
		<key>price of glass</key>
		<string>1</string>
		<key>name</key>
		<string>Farhan&apos;s Drink</string>
	</dict>
	<dict>
		<key>abv</key>
		<string>4.2</string>
		<key>location</key>
		<string>germany</string>
		<key>price of 4oz</key>
		<string>9</string>
		<key>price of glass</key>
		<string>1</string>
		<key>name</key>
		<string>Farhan&apos;s Drink</string>
	</dict>
	<dict>
		<key>abv</key>
		<string>4.2</string>
		<key>location</key>
		<string>germany</string>
		<key>price of 4oz</key>
		<string>9</string>
		<key>price of glass</key>
		<string>1</string>
		<key>name</key>
		<string>Farhan&apos;s Drink</string>
	</dict>
	<dict>
		<key>abv</key>
		<string>4.2</string>
		<key>location</key>
		<string>germany</string>
		<key>price of 4oz</key>
		<string>9</string>
		<key>price of glass</key>
		<string>1</string>
		<key>name</key>
		<string>Farhan&apos;s Drink</string>
	</dict>
	<dict>
		<key>abv</key>
		<string>4.2</string>
		<key>location</key>
		<string>germany</string>
		<key>price of 4oz</key>
		<string>9</string>
		<key>price of glass</key>
		<string>1</string>
		<key>name</key>
		<string>Farhan&apos;s Drink</string>
	</dict>
	<dict>
		<key>abv</key>
		<string>4.2</string>
		<key>location</key>
		<string>germany</string>
		<key>price of 4oz</key>
		<string>9</string>
		<key>price of glass</key>
		<string>1</string>
		<key>name</key>
		<string>Farhan&apos;s Drink</string>
	</dict>
	<dict>
		<key>abv</key>
		<string>4.2</string>
		<key>location</key>
		<string>germany</string>
		<key>price of 4oz</key>
		<string>9</string>
		<key>price of glass</key>
		<string>1</string>
		<key>name</key>
		<string>Farhan&apos;s Drink</string>
	</dict>
	<dict>
		<key>abv</key>
		<string>4.2</string>
		<key>location</key>
		<string>germany</string>
		<key>price of 4oz</key>
		<string>9</string>
		<key>price of glass</key>
		<string>1</string>
		<key>name</key>
		<string>Farhan&apos;s Drink</string>
	</dict>
	<dict>
		<key>abv</key>
		<string>4.2</string>
		<key>location</key>
		<string>germany</string>
		<key>price of 4oz</key>
		<string>9</string>
		<key>price of glass</key>
		<string>1</string>
		<key>name</key>
		<string>Farhan&apos;s Drink</string>
	</dict>
	<dict>
		<key>abv</key>
		<string>4.2</string>
		<key>location</key>
		<string>germany</string>
		<key>price of 4oz</key>
		<string>9</string>
		<key>price of glass</key>
		<string>1</string>
		<key>name</key>
		<string>Farhan&apos;s Drink</string>
	</dict>
	<dict>
		<key>abv</key>
		<string>4.2</string>
		<key>location</key>
		<string>germany</string>
		<key>price of 4oz</key>
		<string>9</string>
		<key>price of glass</key>
		<string>1</string>
		<key>name</key>
		<string>Farhan&apos;s Drink</string>
	</dict>
	<dict>
		<key>abv</key>
		<string>4.2</string>
		<key>location</key>
		<string>germany</string>
		<key>price of 4oz</key>
		<string>9</string>
		<key>price of glass</key>
		<string>1</string>
		<key>name</key>
		<string>Farhan&apos;s Drink</string>
	</dict>
	<dict>
		<key>abv</key>
		<string>4.2</string>
		<key>location</key>
		<string>germany</string>
		<key>price of 4oz</key>
		<string>9</string>
		<key>price of glass</key>
		<string>1</string>
		<key>name</key>
		<string>Farhan&apos;s Drink</string>
	</dict>
</array>
</plist>
